// Place all the styles related to the communities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label, .badge {
  background-color: #2EA8E6
}
.icon-thumbs-up {
  color: red
}
.icon-thumbs-down {
  color: green
}
.nav-tabs > li > a {
  padding: 5px 5px 5px 5px
}
.header {
}
hr.tab {
  -moz-border-bottom-colors: green;
  border-width: 1px 0;
}
