.row
  .span1
    %h5 板块选择:
  .span11
    %ul.nav.nav-tabs{:id=>"district-tab", "data-tabs"=>"tabs"}
      - @districts.each do |d|
        %li
          %a.btn-link{"data-toggle"=>"tab", :href=>"#district_#{d.id}"}
            = d.name
    #communicty-tab.tab-content
      - @districts.each do |d|
        .tab-pane{:id=>"district_#{d.id}"}
          - d.communities.each do |c|
            = link_to c.name, c, :class=>"btn-link"
%hr.tab
