= render "tab"

%h3 板块列表
%table.table
  %tr
    %th 板块
    %th 特色
    -#%th
    -#%th
    -#%th

  - @communities.each do |community|
    %tr
      %td= link_to community.name, community, :class=>"btn btn-link"
      %td
        - community.villages.each do |v|
          = v.name
      -#%td= link_to 'Show', community
      -#%td= link_to 'Edit', edit_community_path(community)
      -#%td= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' }

